In [1]:
print("hello world")

hello world

In [2]:
a=123
type(a)

int

In [3]:
b=456
type(b)

int

In [5]:
c=8.70
type(c)

float

In [6]:
a=5
b=8
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)

13
-3
40
0.625
0
390625

In [7]:
a=-3
b=4
print(abs(a))
print(max(a,b))
print(min(a,b))

3
4
-3

In [9]:
a=123
b='456'
print(a+int(b))
print(str(a)+b)

579
123456

In [10]:
a=input()
print('a=' , a)
b=input('your name: ')
print('your name: ', b)

289
a= 289
your name: lai
your name:  lai

In [11]:
a=int(input('整數1='))
b=int(input('整數2='))
print(a+b)
print(a-b)
print(a*b)
print(a/b)

整數1=10
整數2=101
111
-91
1010
0.09900990099009901

In [18]:
for i in range(1,10):
    for j in range(1,10):
        print(str(i), '*' , str(j), '=' , i*j , end= '  ')
    print(end='\n')

1 * 1 = 1  1 * 2 = 2  1 * 3 = 3  1 * 4 = 4  1 * 5 = 5  1 * 6 = 6  1 * 7 = 7  1 * 8 = 8  1 * 9 = 9
2 * 1 = 2  2 * 2 = 4  2 * 3 = 6  2 * 4 = 8  2 * 5 = 10  2 * 6 = 12  2 * 7 = 14  2 * 8 = 16  2 * 9 = 18
3 * 1 = 3  3 * 2 = 6  3 * 3 = 9  3 * 4 = 12  3 * 5 = 15  3 * 6 = 18  3 * 7 = 21  3 * 8 = 24  3 * 9 = 27
4 * 1 = 4  4 * 2 = 8  4 * 3 = 12  4 * 4 = 16  4 * 5 = 20  4 * 6 = 24  4 * 7 = 28  4 * 8 = 32  4 * 9 = 36
5 * 1 = 5  5 * 2 = 10  5 * 3 = 15  5 * 4 = 20  5 * 5 = 25  5 * 6 = 30  5 * 7 = 35  5 * 8 = 40  5 * 9 = 45
6 * 1 = 6  6 * 2 = 12  6 * 3 = 18  6 * 4 = 24  6 * 5 = 30  6 * 6 = 36  6 * 7 = 42  6 * 8 = 48  6 * 9 = 54
7 * 1 = 7  7 * 2 = 14  7 * 3 = 21  7 * 4 = 28  7 * 5 = 35  7 * 6 = 42  7 * 7 = 49  7 * 8 = 56  7 * 9 = 63
8 * 1 = 8  8 * 2 = 16  8 * 3 = 24  8 * 4 = 32  8 * 5 = 40  8 * 6 = 48  8 * 7 = 56  8 * 8 = 64  8 * 9 = 72
9 * 1 = 9  9 * 2 = 18  9 * 3 = 27  9 * 4 = 36  9 * 5 = 45  9 * 6 = 54  9 * 7 = 63  9 * 8 = 72  9 * 9 = 81

In [19]:
a = ['lynn', 0.82 , 1 , True ]
for i in a:
    print(i)

lynn
0.82
1
True

In [23]:
a=[1,3,5,7,9]
for i in range(0,len(a)):
    print(a[i]**2 , end=' ')
    a[i] = a[i] **2
print(end='\n')
print(a)

1 9 25 49 81
[1, 9, 25, 49, 81]